{% block navbar %}
<nav class="navbar  navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand text-b" href="/">Cepheus Trade</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">какая-то хуета</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">какая-то хуета</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            какая-то хуета
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">какая-то хуета</a></li>
            <li><a class="dropdown-item" href="#">какая-то хуета</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">какая-то хуета</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled">какая-то хуета</a>
        </li>
      </ul>
      <div class="d-flex">
          {% if is_authorized %}
          <a href="/logout"><button type="button" class="btn btn-outline-danger me-3">Выход</button></a>
          <a href="/user"><img class="avatar" href="/user" src="https://www.interfax.ru/ftproot/photos/photostory/2021/06/11/week4_1100.jpg" alt="avatar"></a>
          {% else %}
          <a href="/login"><button type="button" class="btn btn-primary me-3">Авторизация</button></a>
          {% endif %}
      </div>
    </div>
  </div>
</nav>
{% endblock %}