{% extends "base.html" %}
{% block content %}
<div class="container py-4 py-xl-5">
    <div class="row mb-3 text-center">
        <h1>Мальцев "SiropTime" Тимофей</h1>
        <h4>bio/portfolio page</h4>
    </div>
    <div class="row mb-5">
        <br>
        <p>
            <b>Доброго времени суток!</b>}
        </p>
        <p>
            {{ request.headers }}
        </p>
        <p>
            Я, так сказать, <i>боец-универсал</i>. Работаю с несколькими стеками, такими как:
        </p>
        <ol>
            <li>  Python-backend: тут и Flask, и Django, и FastAPI со всеми вытекающими вроде Jinja2, Pydantic, SQLAlchemy и другими. Работать с NoSQL так же могу, но об этом чуть позже. </li>
            <li> Java Backend: Spring Boot, Hibernate и сам Spring Framework на уровне понимания концепции и главных целей данного инструментария. </li>
            <li> C/C++ dev: тут база языков с STL, работал с QT в том числе с работой с REST API и с SQL. Так же пробовал в OpenGL и SDL2. </li>
            <li> Android: Kotlin + Jetpack Compose + Retrofit 2 и всякое другое по мелочи. Этим я занимался на практике и работал в полупродакшен (об этом далее). </li>
            <li> И общее для всех: SQL (SQLite, MySQL, PostgreSQL), Docker, HTTP и другие сетевые протоколы и в принципе устройство сети, REST API и MVC, JSON и XML, UML, так же знаком с NoSQL БД, но на практике не использовал, готов быстро обучиться. Знаю разницу между асинхронным и многопоточным программированием (и готов объяснить на примере макдака), базовые алгоритмы и не абсолютно все, но структуры данных. Ещё быстрообучаемый и готов брать инициативу.</li>
        </ol>
        <p>
            <b>Теперь немножко поговорим о моём опыте.</b>
        </p>
        <p>
            Я работал полгода в стартапе на позиции Android разработчика, занимался бо́льшей частью разработки, так как помимо меня был всего один андроид разработчик, у которого было меньше времени. Я реализовывал промежуточный продукт для разметки фотографий по тегам для обучения сразу двух нейросетей: рекомендательной и генерирующей изображения.
            Так же делал самостоятельные проекты, вроде НРИ внутри телеграм-бота, собственного помощника в виде приложения и двух микросервисов (для обработки речи и команд и для работы с данными), разработкой игры для NES/Dandy, разработкой VM на основе архитектуры LC-3 и ещё по мелочи многое.
            Кроме того, участвовал во множестве хакатонов как UI/UX designer, Android developer и Python Backend Developer. Был финалистом в хакатоне "Лидеры цифровой трансформации" в 2021 году по треку Рекомендательная система московских библиотек. Являлся участником хакатонов вроде MoreTech 3.0, AgroCode, WildHack, Hack-in-Home 3.0, VTB API HACK. Так же, будучи ещё школьником, был победителем и призёром региональных проектных олимпиад с проектом "Веб-приложение для подготовки к ЕГЭ по русскому языку".
            Надеюсь, вы дошли до этого момента и уже готовы сделать выбор в мою пользу! До встречи ;)
        </p>
    </div>
</div>

{% endblock %}
