{% extends "base/base.html" %}

{% block content %}
<div class="container py-4 py-xl-5">
    <div class="row mb-5">
        <div class="col-md-8 col-xl-6 text-center mx-auto">
            <h2>Мои проекты</h2>
            <p class="w-lg-50">Здесь выложены самые примечательные проекты с кратким описанием и ссылками на GitHub!</p>
        </div>
    </div>

    {% if is_admin %}
        <h3> Создать новый проект </h3>
        <form class="row mb-5" method="post">
            <div class="col-12">
                <label for="titleProject" class="form-label">Название</label>
                <input type="text" name="title" class="form-control" id="titleProject" placeholder="New project">
            </div>
            <div class="col-md-6">
                <label for="inputImagePath" class="form-label">Ссылка на изображение</label>
                <input type="text" name="image_path" class="form-control" id="inputImagePath" placeholder="https://imgur.com">
            </div>
            <div class="col-md-6">
                <label for="inputGitLink" class="form-label">Ссылка на гит</label>
                <input type="text" name="git_link" class="form-control" id="inputGitLink" placeholder="https://github.com/SiropTime">
            </div>
            <div class="col-12">
                <label for="descriptionProject" class="form-label">Описание</label>
                <input type="text" name="description" class="form-control" id="descriptionProject" placeholder="автобот для покакать">
            </div>
            <div class="col-12 pt-3 align-content-end">
                            <button type="submit" class="btn btn-primary default-button">Создать</button>
            </div>
        </form>

    {% endif %}

    <div class="row gy-4 row-cols-1 row-cols-md-2 row-cols-xl-3">
        {% for project in projects %}
            <div class="col">
                <div class="py-4">
                    <h4><a style="color: inherit" href="{{ project.git_link }}" style="">{{ project.title }}</a></h4>
                    <p> {{ project.description }} </p>
                </div>
                <div class="align-content-center">
                    <img class="rounded img-fluid d-block" style="height: 200px;" src="{{ project.image_path }}"  alt="project's thumbnail"/>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}